<mat-card>
      <form [formGroup]="uploadForm" (ngSubmit)="uploadSubmit()">
        <div style="display: flex">
        <mat-card-content>
         <div class="fichier">
          <h4>Sélectionnez le fichier à nettoyer</h4>
          <mat-form-field class="form-field">
            <mat-label>Selectionner le Type du Document</mat-label>
            <mat-select formControlName="type" required>
              <mat-option value="csv">CSV</mat-option>
              <mat-option value="pdf">PDF</mat-option>
              <mat-option value="json">JSON</mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <input formControlName="document1" type="file" ng2FileSelect accept=".csv" [uploader]="uploader" multiple/><br/>
          <br>
          <div class="drop-zone">
          <div ng2FileDrop [uploader]="uploader" class="drop-zone">
             Glissez vos fichiers
          </div>
          </div>
          <table>
            <thead>
            <tr>
              <th width="90%">
                Nom fichier
              </th>
              <th width="10%">
                Supprimer
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of uploader.queue">
              <th width="90%">
                {{ item.file.name }}({{item.file.size/1000000}} MB)
              </th>
              <th class="text-center" width="10%">
                <mat-icon (click)="item.remove()">delete</mat-icon>
              </th>
            </tr>
            </tbody>
          </table>
          <br>
          <button mat-raised-button color="accent" [disabled]="!uploadForm.valid" type="submit">Valider</button>
         </div>
        </mat-card-content>

        <mat-card-content>
          <div class="ontology">
          <h4>Sélectionnez une ontologie</h4>
          <br>
          <input formControlName="document" type="file" ng2FileSelect accept=".owl" [uploader]="uploader1" multiple/><br/>
          <br>


          <table class="onto">
            <thead>
            <tr>
              <th width="120%">
                Nom Ontologie
              </th>
              <th width="10%">
                Supprimer
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of uploader1.queue">
              <th width="90%">
                {{ item.file.name }}({{item.file.size/1000000}} MB)
              </th>
              <th class="text-center" width="10%">
                <mat-icon (click)="item.remove()">delete</mat-icon>
              </th>
            </tr>
            </tbody>
          </table>
          <br>
          </div>
        </mat-card-content>

      </div>
      </form>
</mat-card>
